<section class="pt-4 pt-md-11">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 col-md-5 col-lg-6 order-md-2 pt-3" data-aos="fade-up" data-aos-duration="1000">
				<%= image_tag("welcome_banner.svg", class: "img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0") %>
			</div>
			<div class="col-12 col-md-7 col-lg-6 order-md-1 pt-5" data-aos="fade-up" data-aos-duration="1000">
				<h1 class="display-3 text-center text-md-left">Welcome to Socialize.</h1>
				<p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">Bringing People Together.</p>
				<div class="text-center text-md-left">
					<%= link_to "Get Started", root_path, class: 'btn btn-primary shadow lift mr-3 py-2 px-4' %>
				</div>
			</div>
		</div>
	</div>
</section>
