<%= render './components/banner' %>
<section class="home-cards border-bottom">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4 home-card-container">
				<div class="home-card px-4">
					<h4>Find People Near You</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad fuga quos veritatis explicabo voluptas recusandae alias ipsam delectus cum similique! Laudantium quisquam nemo ex optio repellat possimus, quasi id nihil!</p>
				</div>
			</div>
			<div class="col-12 col-md-4 home-card-container">
				<div class="home-card px-4">
					<h4>Invite People to Meet</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, tempore eaque quibusdam itaque ullam repudiandae omnis natus molestiae beatae eum voluptatibus numquam aliquam soluta temporibus.</p>
				</div>
			</div>
			<div class="col-12 col-md-4 home-card-container">
				<div class="home-card px-4">
					<h4>Meetup</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, tempore eaque quibusdam itaque ullam repudiandae omnis natus molestiae beatae eum voluptatibus numquam aliquam soluta temporibus.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="pt-8 pt-md-11" style="height: 500px;">
	<div class="container">
		<div class="row align-items-center justify-content-between mb-5 mb-md-11">
			<div class="col-12 col-md-6 order-md-2 px-5 mt-5">
				<h2 class="mb-3">Test</h2>
				<p class="font-size-lg text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime sint ullam officiis odio quam ipsam magnam, repudiandae eius perspiciatis atque, vero quia sequi, magni similique qui quaerat enim veniam modi temporibus provident expedita. Consectetur earum ipsam cumque provident totam vitae consequuntur, placeat cupiditate incidunt sit unde, aspernatur. Nemo provident consectetur perspiciatis eveniet neque ipsam</p>
			</div>
			<div class="col-12 col-md-6 p-5 order-md-1">
				<img class="shadow" src="https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="Friends" style="width: 100%;">
			</div>
		</div>
	</div>
</section>